
  pool:
  name: Azure Pipelines
steps:
- task: Docker@0
  displayName: 'Build an image'
  inputs:
    azureSubscription: 'Azure subscription 1 (eda688a5-68c5-44f4-846d-ccf8e2846a1f)'
    azureContainerRegistry: '{"loginServer":"yzacr1976.azurecr.io", "id" : "/subscriptions/eda688a5-68c5-44f4-846d-ccf8e2846a1f/resourceGroups/aks_tf_rg/providers/Microsoft.ContainerRegistry/registries/yzacr1976"}'
    includeLatestTag: true

- task: Docker@0
  displayName: 'Push an image'
  inputs:
    azureSubscription: 'Azure subscription 1 (eda688a5-68c5-44f4-846d-ccf8e2846a1f)'
    azureContainerRegistry: '{"loginServer":"yzacr1976.azurecr.io", "id" : "/subscriptions/eda688a5-68c5-44f4-846d-ccf8e2846a1f/resourceGroups/aks_tf_rg/providers/Microsoft.ContainerRegistry/registries/yzacr1976"}'
    action: 'Push an image'
    includeLatestTag: true

- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: 'azure-aks.yaml'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
